.box
  .content.chat
    %h1= t(".chat_with", display_name: @conversation.other_profile.display_name)
    %a{href: view_profile_path(@conversation.other_profile.id)}= t(".see_profile", display_name: @conversation.other_profile.display_name)
    %hr
    - if @messages.empty?
      %p= t(".there_are_no_messages_yet")
      %p= t(".things_to_keep_in_mind")
      %ul
        - t(".starting_to_talk_tips").each do |tip|
          %li= tip
    - else
      - @messages.each do |message|
        - if message.sender == @basic_profile_info.id
          .media.chat-right
            .message.is-success
              .message-body
                %p
                  #{message.content}
                %p.is-size-7.has-text-right
                  sent #{time_ago_in_words(message.sent_at)} ago
        - else
          .media
            .media-left
              %figure.image.is-48x48.is-32x32-mobile
                %img.is-rounded{:alt => "Image", src: @conversation.other_profile.picture}/
            .message.is-link
              .message-body
                %p
                  #{message.content}
                %p.is-size-7.has-text-right
                  sent #{time_ago_in_words(message.sent_at)} ago

    %hr#messages-end
    #message-form
      = form_with(url: conversation_messages_path(@conversation.id, min_id: @messages.last&.id), method: :post) do |form|
        .field.is-grouped
          .control.is-expanded
            = form.textarea :message, class: "textarea"
          .control
            = form.submit t(".send"), class: "button is-link"
