.box
  .content.chat
    %h1 Chat with #{@conversation.other_profile.display_name}
    %hr
    - @messages.each do |message|
      - if message.sender == @basic_profile_info.id
        .media.chat-right
          .message.is-success
            .message-body
              %p
                #{message.content}
              %p.is-size-7.has-text-right
                sent #{time_ago_in_words(message.sent_at)} ago
      - else
        .media
          .media-left
            %figure.image.is-48x48.is-32x32-mobile
              %img.is-rounded{:alt => "Image", src: @conversation.other_profile.profile_picture}/
          .message.is-link
            .message-body
              %p
                #{message.content}
              %p.is-size-7.has-text-right
                sent #{time_ago_in_words(message.sent_at)} ago
