.card
  .card-content
    = form_for(@profile_info, as: :profile, url: profile_path) do |form|
      .media
        .media-left
          %figure.image.is-128x128
            %img{src: @profile_info.profile_picture}
        .media-content
          - if controller.action_name == 'show'
            .is-pulled-right
              %a{href: edit_profile_path}= I18n.t("edit_profile")
          .title.is-4
            #{@profile_info.display_name}
          .subtitle.is-6
            #{@profile_info.age ? I18n.t("age", count: @profile_info.age) : I18n.t("unknown_age")}
            &centerdot;
            #{@profile_info.location}
          .content
            .fixed-grid
              .grid
                .cell
                  #{I18n.t("pronouns")}
                  %span.tag.is-light.is-info #{@profile_info.pronouns}
      .field.is-horizontal
        .field-label.is-normal
          = form.label :relationship_status, class: "label"
        .field-body
          .field
            .control
              .select.is-fullwidth
                = form.select :relationship_status, relationship_status_options
      .field.is-horizontal
        .field-label.is-normal
          = form.label :relationship_type, class: "label"
        .field-body
          .field
            .control
              .select.is-fullwidth
                = form.select :relationship_type, relationship_type_options
      .content
        .field.is-horizontal
          .field-label.is-normal
            = form.label :genders, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth.is-multiple
                  = form.select :genders, gender_options, {}, {multiple: true, data: { "search-target": :genderSelect, controller: :profile, placeholder: t(".select_your_genders") } }
      .content
        .field.is-horizontal
          .field-label.is-normal
            = form.label :orientations, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth.is-multiple
                  = form.select :orientations, orientation_options, {}, {multiple: true, data: { "search-target": :orientationSelect, controller: :profile, placeholder: t(".select_your_orientations") } }
      .content
        .field.is-horizontal
          .field-label.is-normal
            = form.label :languages, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth.is-multiple
                  = form.select :languages, language_options, {}, {multiple: true, data: { "search-target": :languageSelect, controller: :profile, placeholder: t(".select_languages_you_speak") } }
        %hr
        .field.is-horizontal
          .field-label.is-normal
            = form.label :tobacco, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth
                  = form.select :tobacco, frequency_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :alcohol, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth
                  = form.select :alcohol, frequency_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :marijuana, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth
                  = form.select :marijuana, frequency_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :other_recreational_drugs, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth
                  = form.select :other_recreational_drugs, frequency_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :kids, class: "label"
          .field-body
            .field
              .control
                .select.is-fullwidth
                  = form.select :kids, have_kids_options
            .field
              .control
                .select.is-fullwidth
                  = form.select :wants_kids, wants_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :pets, class: "label"
          .field-body
            .field
              .control.is-expanded
                .select.is-fullwidth
                  = form.select :pets, have_pets_options
            .field
              .control.is-expanded
                .select.is-fullwidth
                  = form.select :wants_pets, wants_options
        .field.is-horizontal
          .field-label.is-normal
            = form.label :religion, class: "label"
          .field-body
            .field
              .control.is-expanded
                .select.is-fullwidth
                  = form.select :religion, religion_options
            .field
              .control.is-expanded
                .select.is-fullwidth
                  = form.select :religion_importance, importance_options
        %hr
        .field
          = form.label :about_me, class: "label"
          = form.text_area :about_me, class: "textarea"
        .actions
          = form.submit class: "button is-info is-pulled-right"
