.container.has-text-centered
  .columns
    .column.is-4.is-offset-4
      %h3.title.has-text-grey= t('.sign_in')
      %p.subtitle.has-text-grey= t('.login_to_proceed')
      .box
        = form_with url: session_path do |form|
          .field
            .control
              = form.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'email@example.com', class: 'input is-large'
          .field
            .control
              = form.password_field :password, autocomplete: "current-password", placeholder: 'password', class: 'input is-large'
          = form.submit t(".sign_in"), class: 'button is-block is-info is-large is-fullwidth'
      = render "sessions/shared/links"
