.section
  .box
    .container
      %h1.title.has-text-centered Our privacy policy
      .content
        %p
          %strong> Last updated
          \: February 10, 2025
        %p
          This privacy policy describes how #{Rails.configuration.x.retromeet_core_host} ("#{Rails.configuration.x.retromeet_core_host}", "we", "us") collects, protects and uses the personally identifiable information you may provide through the #{Rails.configuration.x.retromeet_core_host} website. The policy also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This policy does not apply to the practices of companies that #{Rails.configuration.x.retromeet_core_host} does not own or control, or to individuals that #{Rails.configuration.x.retromeet_core_host} does not employ or manage.

        %h2 What information do we collect?
        %p
          RetroMeet Web is a client to RetroMeet and does not permanently store any personal information on its server, including but not limited to names, email addresses photos or IP addresses. It might temporarily cache some of that information during your usage, but not longer than a few hours.

        %h2 How do we protect your information?
        %p
          We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Among other things, your browser session, as well as the traffic between your applications and the API, are secured with SSL.

        %h2 Do we use cookies?
        %p
          Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow). These cookies enable the site to recognize your browser and, if you have a registered account, associate it with your registered account.
        %p
          We use cookies to understand and save your preferences for future visits.

        %h2 Do we disclose any information to outside parties?
        %p
          We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.

        %h2 Site usage by children
        %p
          Our service is restricted to individuals who are 18 years of age or older. We do not permit individuals under the age of 18 on our platform. If you suspect that a memeber is under the age of 18, please use the reporting mechanism available on the service.

        %hr
        %p
          This document is CC-BY-SA. Originally adapted from the <a href="https://github.com/mastodon/mastodon" target="_blank">Mastodon privacy policy</a>.
