= turbo_stream.replace "search_results" do
  %div#search_results
    - if @locations.size == 0
      .message.is-warning
        .message-header= t(".no_results")
        .message-body= t(".no_results_help")
    - elsif @locations.size == 1
      = form_with(url: profile_location_path, method: :patch) do |form|
        .field.is-horizontal
          .field-label.is-normal
            = form.label :location, class: "label"
          .field-body
            .field
              .control
                = form.text_field :location, class: "input", value: "#{@locations.first.display_name}", disabled: true
        = form.hidden_field :location, class: "input", value: "#{@locations.first.display_name}|#{@locations.first.osm_id}"
        .field.is-grouped-right.is-grouped
          .control
            = form.submit class: "button is-info"
    - elsif @locations.size > 1
      .message.is-success
        .message-body= t(".multiple_results_help")
      = form_with(url: profile_location_path, method: :patch) do |form|
        - @locations.each do |location|
          .control
            %label.radio
              = form.radio_button :location, "#{location.display_name}|#{location.osm_id}"
              #{location.display_name} (#{t(location.osm_type, scope: "osm_types")})
        .field.is-grouped-right.is-grouped
          .control
            = form.submit class: "button is-info"
