%nav.navbar
  .container
    .navbar-brand
      .navbar-item= link_to image_tag("retromeet_long.png", class: %i[image]), root_url
    .navbar-menu
      .navbar-end
        - if @basic_profile_info.present?
          .navbar-item= t("welcome", display_name: @basic_profile_info.display_name)
          .navbar-item= link_to t("my_profile"), profile_path
          .navbar-item Settings
        - if @basic_profile_info.present?
          .navbar-item= link_to t("sign_out"), destroy_session_url, data: { "turbo-method": :delete }
        - else
          .navbar-item= link_to t("sign_in"), new_session_url
          .navbar-item= link_to t("sign_up"), new_account_session_path
