<!DOCTYPE html>
<html>
  <head>
    <title>RetromeetWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "header" %>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="notification is-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
