!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RetromeetWeb
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render "header"
    - if flash[:error]
      .notification.is-danger
        = flash[:error]
    - if flash[:alert]
      .notification.is-danger
        = flash[:alert]
    - if flash[:success]
      .notification.is-success
        = flash[:success]
    = yield
